body {
    margin: 5px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 10px ;
}

.grid-container {
    display: grid;
    grid-template-areas:
        "header header header "
        "nav nav nav "
        "Carrousel Carrousel Carrousel "
        " main main main  "
        "footer footer footer ";
    grid-template-rows: 200px 1px auto auto auto;
    grid-gap: 5px;
    min-height: 100vh;

    padding: 10px;
}

.header {
    grid-area: header;
    background-color: aqua;
    border: solid 1px black;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    text-align: center;
    margin: 2px 2px 2px 2px;
}

.section-logo {
    display: flex;
    border: 1px solid;
    height: 100%;
    width: 60%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;

    width: 100%;
    grid-area: nav;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid;
    height: 100%;
    

}


.Carrousel {
    grid-area: Carrousel;
    background-color: lightgreen;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.main {
    grid-area: main;
    background-color: lightyellow;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer {
    grid-area: footer;
   height: 100%;
    margin-top: auto;
    /* Empuja el footer hacia la parte inferior */
    background-color: lavender;
    padding: 10px;
    text-align: center;
}

.nav ul {
    list-style-type: none;
    padding: 0;
}

.nav ul li {
    display: inline;
    margin-right: 10px;
}

.main h1 {
    margin-bottom: 20px;
}